node_modules
dist
.env
.env.local
.emulator-data
firebase-debug.log
firestore-debug.log
ui-debug.log
.DS_Store
serviceAccount.json

# Material interno do desafio - nao versionar em repositorio publico
QA_GABARITO.md
TaskFlow_Desafio_QA_Firebase.md
tsconfig.tsbuildinfo
